.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 1115px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  margin-bottom: 60px;
  border-bottom: 2px solid rgb(184, 184, 184);
}

.res {
  flex: 0 1 200px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.res picture {
  display: block;
  height: 200px;
}

.res picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.cuisine {
  margin-right: 15px;
}

.allRestaurants
.cardsWidth, .mostPopular .cardsWidth {
  width: 20% !important;
}


.restorantType {
  color: coral;
  
}


.favoritePosition {
  top: 2%;
  left: 5%;
  z-index: 1000;
 }

.heartColor {
  color: red;
  cursor:pointer
}

.btn-orange {
  background-color: coral!important;
  color: white!important;
}